h1,h2 {
	color: blue;
	font-family: helvetica;
	text-shadow: 0px 0px 6px;
}

table {
	border: 1px solid red;
	border-radius: 15px;
}

.text-center {
	text-align:center;
}

#rounded-img {
	border-radius: 90px;
}

li:hover{
	color: #42f560;
}
h3:hover{
	color: purple;
}
h4 {
	color:coral;
	text-shadow:0 0 5px;
}

h5:hover {
	color:red;
}

p {
	text-shadow: 0 0 20px red;
	text-decoration-line: underline;
	text-decoration-color: red;
}

body {
	background-color:#8ccbde;
}

h6:hover {
	color: red;
	text-shadow: 0 0 5px;
}